blog.lovesnowex.tk

root * /srv

# Templates give static sites some dynamic features
templates

# Compress responses according to Accept-Encoding headers
encode zstd gzip

# Make HTML file extension optional
try_files {path}.html {path}

# Serve everything else from the file system
file_server

log {
	format console
}

handle_errors {
	rewrite * /{http.error.status_code}.html
	file_server
}
