<style>
    :root {
        --article-font-family: "Noto Serif TC", var(--base-font-family);
    }
    @font-face {
        font-family: "Noto Serif TC";
        src: url("/fonts/NotoSerifTC-Light.otf") format("opentype");
        font-style: normal;
        font-weight: 300;
        font-display: swap;
    }
    @font-face {
        font-family: "Noto Serif TC";
        src: url("/fonts/NotoSerifTC-Bold.otf") format("opentype");
        font-style: normal;
        font-weight: 700;
        font-display: swap;
    }
</style>
